# Directories
build/
results/
deprecate/
CMakeFiles/

# Files
*.pyc
*.py~
Makefile
*.so
CMakeCache.txt
cmake_install.cmake
*.pvd
*.pvtu
*.vtu
*.png

.cache/
htmlcov/
unit_tests/.coverage
unit_tests/htmlcov/
