# Directories
build/
results/
deprecate/
CMakeFiles/
private_tests/
dist/

# Files
*.pyc
*.py~
Makefile
*.so
CMakeCache.txt
cmake_install.cmake
*.pvd
*.pvtu
*.vtu
*.xml

.cache/
.coverage
htmlcov/
unit_tests/.coverage
unit_tests/htmlcov/
.pytest_cache/
.idea/
